<h1>Listing causes</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Author</th>
    <th>Day</th>
    <th>Country</th>
    <th>Holiday</th>
    <th>Approved</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @causes.each do |cause| %>
  <tr>
    <td><%= cause.content %></td>
    <td><%= cause.author %></td>
    <td><%= cause.day %></td>
    <td><%= cause.country %></td>
    <td><%= cause.holiday %></td>
    <td><%= cause.approved %></td>
    <td><%= link_to 'Show', cause %></td>
    <td><%= link_to 'Edit', edit_cause_path(cause) %></td>
    <td><%= link_to 'Destroy', cause, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cause', new_cause_path %>
